[Desktop Entry]
Name=typy
Name[ru]=Шаблон приложения Uncom
Exec=typy -g
Icon=typy
Terminal=false
Type=Application
NoDisplay=false
Categories=Utility;
StartupWMClass=com.uncom.typy