Source: uncom-manager-appimage
Section: admin
Build-Depends:  debhelper-compat (= 12),
                debhelper (>= 7),
		            python3 (>= 3.3)
Maintainer: Developer 0 <developer0@uncom.tech>
Standards-Version: 4.5.1
Priority: optional

Package: uncom-manager-appimage
Architecture: all
Depends: python3 (>= 3.3),
         ${misc:Depends}
Description: Uncom OS AppImage Installer.
  