Source: typy
Section: misc
Build-Depends: debhelper-compat (= 12),
               debhelper (>= 7),
               python3 (>= 3.3)
Maintainer: Developer 0 <developer0@uncom.tech>
Standards-Version: 4.5.1
Priority: optional

Package: typy
Architecture: all
Depends: python3 (>= 3.3),
         desktop-file-utils,
         gir1.2-adw-1 (>= 1.4),
         gir1.2-gtk-4.0,
         ${misc:Depends}
Description: typy.
 A simple GTK4 application for practicing touch-typing.